WEB_IMAGE=wannys26/plabfootball-backend:manual
NGINX_IMAGE=wannys26/plabfootball-nginx:manual
DB_URL=jdbc:mysql://plabfootball-db.cj2aaagw0eii.ap-northeast-2.rds.amazonaws.com:3306/plabfootball?sslMode=VERIFY_IDENTITY
DB_USERNAME=plabfootball_prod
DB_PASSWORD=
